/* container for nav bar */
.container{
    width: 90%;
    margin: 0 auto;
}

/* Nav bar color */
header{
    background: #d4d7c4;
    border-radius: 9px;
}

/* float fix for nav bar */
.fixfloat ::after{
    content: '';
    display: table;
    clear: both;
}

/* floats navigation to the right */
nav{
    float: right;
}

/* Styles nav ul */
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Positions nav li */
nav li{
    display: inline-block;
    margin-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
}

/* styles nav links */
nav a{
    color: #868f74;
    text-decoration: none;
    font-family: 'Handlee', cursive;
    /*text-transform: uppercase;*/
    font-weight: 600;
    font-size: 17px;
}

/* Gives nav links darker color when hovering over */
nav a:hover{
    color: #79816a;
}

/* Styles bar animation over nav links */
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #868f74;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}

/* Shows bar animation when hovering over nav links*/
nav a:hover::before{
    width: 100%;
}


/* Posiitons nav dropdrowns */
.dropdown {
    position: relative;
}

/* Positions nav dropdown links */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

/* Displays a block for dropdown content when dropdown link
is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the button that triggers the dropdown */
.dropbtn {
    font-size: 17px;
    color: #868f74;
    text-decoration: none;
    display: block;

    padding-top: 14px;
    padding-bottom: 14px;

    position: relative;
}

/* Styles dropdown links */
.dropdown-content a {
    font-size: 17px;
    color: #868f74;
    background-color: #d4d7c4bb;
    text-decoration: none;
    display: block;

    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;

    position: relative;
}

/* Changes the background color of dropdown links when 
hovered over */
.dropdown-content a:hover {
    background-color: #f1f1f1f2;
}

/* Styles bar animation over nav dropdown links */
nav .dropdown-content a::before{
    content: '';
    display: block;
    height: 5px;
    width: 75%;
    background-color: #868f74;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
} 

/* Shows bar animation when hovering over nav dropdown links */
nav .dropdown-content a:hover::before{
    width: 75%;
}




/* Styles head of website */
head{
    background: #f6f9fa;
}

/* Styles body of website */
body{
    background: #f6f9fa;
}

/* Styles headers 1 */
h1 {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 46px;
    color: #8496a2;
}

/* Styles headers 2 */
h2 {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 34px;
    color: #8496a2d2;
}

/* Styles headers 3 */
h3 {
    font-family: 'Marck Script', cursive;
    font-size: 24px;
    text-align: center;
}

/* Styles paragraphs in general */
p {
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 18px;
    color: #687a86;
}

/* Styles all buttons */
button {
    font-family: 'Handlee', cursive;
    font-weight: 600;
    font-style: italic;
    color: #8496a2;
}

/* Styles all Inputs */
input {
    font-family: 'Handlee', cursive;
    font-size: 14px;
    color: #79816a;
}



/* Positions project websites; moves content
away from edge of screen */
.websites-content {
    padding-left: 12px;
    padding-right: 12px;
}



/* Styles the MiniCodes Project Content */
.minicodes-prjct {
    background-color: #d4d7c486;
    border-radius: 18px;

    padding-top: 2px;
}

/* Creates Grid for MiniCodes Project Content */
.mini-content {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    column-gap: 25px;
}

/* Styles the MiniCodes project description */
.mini-description {
    padding-left: 11px;
    padding-right: 25px;
}

/* Centers MiniCodes picture content */
.mini-picture {
    margin: auto;
    text-align: center;

    padding-bottom: 22px;
    padding-left: 15px;
}

/* Styles the MiniCodes Project Link */
.mini-picture a {
    font-family: 'Handlee', cursive;
    font-size: 16px;

    font-style: italic;
    font-weight: bold;

    color: #7e8b6bfd;
}

/* Styles Image for MiniCodes website */
.mini-picture a img {
    width: 670px;
    height: 260px;

    border-radius: 8px;
}



/* Styles Dynamic project content */
.dynamic-prjct {
    background-color: #d4d7c486;
    border-radius: 18px;

    padding-top: 2px;
}

/* Creates Grid for Dynamic project content */
.dynamic-content {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    column-gap: 10px;
}

/* Styles the Dynamic project description */
.dynamic-description {
    padding-left: 11px;
    padding-right: 25px;
}

/* Styles link for the Updated Project ~ 
Reflection */
.update-reflect {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;

    color: #61717c;
}

/* Centers MiniCodes picture content */
.dynamic-picture {
    margin: auto;
    text-align: center;

    padding-bottom: 22px;
    padding-left: 15px;
}

/* Styles the Dynamic Project Link */
.dynamic-picture a {
    font-family: 'Handlee', cursive;
    font-size: 16px;

    font-style: italic;
    font-weight: bold;

    color: #7e8b6bfd;
}

/* Styles Image for Dynamic HTML project
website */
.dynamic-picture a img {
    width: 670px;
    height: 260px;

    border-radius: 12px;
}



/* Styles Final Dynamic Project content */
.Final-Dynamic-prjct {
    background-color: #d4d7c486;
    border-radius: 18px;

    padding-top: 2px;
}

/* Creates Grid for Final Dynamic project
content */
.final-dynamic-content {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    column-gap: 10px;
}

/* Styles Final Dynamic project description */
.final-dynamic-description {
    padding-left: 11px;
    padding-right: 25px;
}

/* Centers MiniCodes picture content */
.final-dynamic-pic {
    margin: auto;
    text-align: center;

    padding-bottom: 22px;
    padding-left: 15px;
}

/* Styles the Final Dynamic Project Link */
.final-dynamic-pic a {
    font-family: 'Handlee', cursive;
    font-size: 16px;

    font-style: italic;
    font-weight: bold;

    color: #7e8b6bfd;
}

/* Styles Image for Final Dynamic Project
website */
.final-dynamic-pic a img {
    width: 670px;
    height: 260px;

    border-radius: 10px;
}